{  "http_interactions": [    {      "request": {        "method": "get",        "uri": "http://webservices.amazon.com/onca/xml?AWSAccessKeyId=FAKEACCESSKEYID&AssociateTag=faketag-20&IdType=ASIN&ItemId=0135974445&Operation=ItemLookup&ResponseGroup=Small,Images&Service=AWSECommerceService&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2013-09-13T13:00:00Z&Version=2011-08-01",        "body": {          "encoding": "US-ASCII",          "string": ""        },        "headers": {}      },      "response": {        "status": {          "code": 200,          "message": ""        },        "headers": {"Content-Type": [            "text/xml;charset=UTF-8"          ], "Nncoection": [            "close"          ]},        "body": {          "encoding": "UTF-8",          "string": "<?xml version=\"1.0\" ?><ItemLookupResponse xmlns=\"http://webservices.amazon.com/AWSECommerceService/2011-08-01\"><OperationRequest><HTTPHeaders><Header Name=\"UserAgent\" Value=\"Jeff/0.7.1 (Language=Ruby; fakename)\"><\/Header><\/HTTPHeaders><RequestId>843668dc-e1f3-4a6e-810e-165b5c0a0214<\/RequestId><Arguments><Argument Name=\"Service\" Value=\"AWSECommerceService\"><\/Argument><Argument Name=\"SignatureMethod\" Value=\"HmacSHA256\"><\/Argument><Argument Name=\"Timestamp\" Value=\"2013-09-13T13:01:15Z\"><\/Argument><Argument Name=\"Operation\" Value=\"ItemLookup\"><\/Argument><Argument Name=\"AssociateTag\" Value=\"faketag-20\"><\/Argument><Argument Name=\"Version\" Value=\"2011-08-01\"><\/Argument><Argument Name=\"SignatureVersion\" Value=\"2\"><\/Argument><Argument Name=\"ItemId\" Value=\"0135974445\"><\/Argument><Argument Name=\"IdType\" Value=\"ASIN\"><\/Argument><Argument Name=\"AWSAccessKeyId\" Value=\"FAKEACCESSKEYID\"><\/Argument><Argument Name=\"ResponseGroup\" Value=\"Small,Images\"><\/Argument><\/Arguments><RequestProcessingTime>0.0093030000000000<\/RequestProcessingTime><\/OperationRequest><Items><Request><IsValid>True<\/IsValid><ItemLookupRequest><IdType>ASIN<\/IdType><ItemId>0135974445<\/ItemId><ResponseGroup>Small<\/ResponseGroup><ResponseGroup>Images<\/ResponseGroup><VariationPage>All<\/VariationPage><\/ItemLookupRequest><\/Request><Item><ASIN>0135974445<\/ASIN><DetailPageURL>http://www.amazon.com/Software-Development-Principles-Patterns-Practices/dp/0135974445%3FSubscriptionId%3DFAKEACCESSKEYID%26tag%3Dfaketag-20%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D0135974445<\/DetailPageURL><ItemLinks><ItemLink><Description>Technical Details<\/Description><URL>http://www.amazon.com/Software-Development-Principles-Patterns-Practices/dp/tech-data/0135974445%3FSubscriptionId%3DFAKEACCESSKEYID%26tag%3Dfaketag-20%26linkCode%3Dxm2%26camp%3D2025%26creative%3D386001%26creativeASIN%3D0135974445<\/URL><\/ItemLink><ItemLink><Description>Add To Baby Registry<\/Description><URL>http://www.amazon.com/gp/registry/baby/add-item.html%3Fasin.0%3D0135974445%26SubscriptionId%3DFAKEACCESSKEYID%26tag%3Dfaketag-20%26linkCode%3Dxm2%26camp%3D2025%26creative%3D386001%26creativ[...]
